PORT=3000
DATABASE_URL="sqlserver://mail.vk.edu.ee:1433;database=db_BookingCity;schema=dbo;user=YOUR_UNIID;password=YOUR_PASSWORD;encrypt=true;trustServerCertificate=true"
JWT_SECRET="your_secret_key"